<a href="https://colab.research.google.com/github/adwarnulkar/finance_modeling/blob/master/notebooks/goal_planning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Investment allocation strategy

In [14]:
goals_sheet = "goal_summary"
monthly_savings = 2000

In [3]:
import pandas as pd
import numpy as np

from bokeh.plotting import figure, output_file, show
from bokeh.io import output_notebook
output_notebook()

import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
def get_investment(R,r,N):
    """
    R = Returns after growth
    r = Rate of interest per month
    N = Number of months
    """
    return R / sum([((1+r/100)**(N-i)) for i in np.arange(0,N)])

In [5]:
import gspread
import pandas as pd
from google.colab import auth
auth.authenticate_user()
from google.auth import default

creds, _ = default()

In [6]:
gc = gspread.authorize(creds)
worksheet = gc.open(goals_sheet).sheet1

In [7]:
rows = worksheet.get_all_values()
df_goal = pd.DataFrame.from_records(rows)
df_goal.columns = df_goal.iloc[0]
df_goal = df_goal.iloc[1:]
df_goal.goal_amount = df_goal.goal_amount.astype(int)
df_goal.goal_time = df_goal.goal_time.astype(int)

In [8]:
df_goal

0       goal_name  goal_time  goal_amount
1        vacation          1        14000
2     electronics          1         2000
3   house upgrade          1         2000
4    kids bringup          3        15000
5  kids education         16        60000

In [9]:
investment_list = []

for _ , row in df_goal.iterrows():
    R = row.goal_amount
    N = 12*row.goal_time
    r = 0.2
    investment = get_investment(R=R,r=r,N=N)
    investment_list.append(int(investment))

df_goal["investment (expected)"] = investment_list
total_investment = df_goal["investment (expected)"].sum()
df_goal["investment (actual)"] = df_goal["investment (expected)"].apply(lambda x : int(monthly_savings*x/total_investment))

In [10]:
df_goal

,goal_name,goal_time,goal_amount,investment (expected),investment (actual)
1,vacation,1,14000,1151,1077
2,electronics,1,2000,164,153
3,house upgrade,1,2000,164,153
4,kids bringup,3,15000,401,375
5,kids education,16,60000,256,239

In [ ]:
if(total_investment > monthly_savings):
    print("YOU SUCK !!")
else:
    print("YOU ROCK !!")

YOU SUCK !!

In [12]:
df_goal["investment (expected)"].sum()

2136